.row
  .columns.text-center
    :markdown
      Ruby developer in San Francisco.

.row
  .large-4.columns.text-center
    %p= link_to 'GitHub', github_path

  .large-4.columns.text-center
    %p= link_to 'Résumé', resume_path

  .large-4.columns.text-center
    %p
      %a(href='#' data-reveal-id='contact-info') Contact

%ul#contact-info.reveal-modal.tiny.vcard
  %li.fn.n
    %span.given-name Ryan
    %span.additional-name Taylor
    %span.family-name Long
  %li
    = mail_to 'ryan@rtlong.com', nil, class: 'email'
  %li
    %abbr.tel(title='+1.415.912.8026')
      (415) 912-8026
    %a.tel-link(href="tel:14159128026") call
  %li.adr
    %span.locality<> San Francisco
    ,
    %span.region
      %abbr(title="California") CA
    %span.postal-code 94107
    .hide.country-name United States of America

  = link_to vcard_path, title: "Download my vCard" do
    %i.foundicon-address-book
    vCard

  %a.close-reveal-modal(href='#') &#215;
