- content_for :title, 'Contact'

.row
  .columns.text-center
    %p= mail_to 'ryan@rtlong.com'

    %p (415) 912-8026

.row
  .large-6.columns.text-center
    %p= link_to 'Github', github_path
  .large-6.columns.text-center
    %p= link_to 'Resume', resume_path
