@import 'foundation_and_overrides'
@import 'icons'
@import 'fonts'

html, body, .content.vertical-center
  margin: 0
  padding: 0
  height: 100%
  width:  100%

.content.vertical-center
  display: table

  & > .vertical-center
    display: table-cell
    vertical-align: middle


.signature
  width: 100%
  max-width: 303px
  height: 176px

  path
    fill: $body-font-color !important
    @include single-transition(fill)
  &:hover
    path
      fill: inherit !important

a:link
  //text-decoration: underline

a.tel-link
  font-style: oblique

ul.vcard
  abbr
    //border-bottom: none
