%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        %a{:href => "#"} RTLong.com Admin
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    / Left Nav Section
    %ul.left

    / Right Nav Section
    %ul.right
      %li.divider.show-for-small
      %li.has-form
        = link_to 'Logout', logout_path, class: 'button'
